<div class="message" id="message-<%= message.id %>">
  <% if message.user_id == current_user.id %>
      <div class="right_message">
        <div class="my_message">
          <p><%= message.user.nickname %></p>
          <%= simple_format(h message.content) %>
        </div>
      </div>
  <% else message.user_id != current_user.id %>
      <div class="left_message">
        <div class="your_message">
          <p><%= message.user.nickname %></p>
          <%= simple_format(h message.content) %>
        </div>
      </div>
  <% end %>
</div>