<h1>家族を作成しよう</h1>

<%= form_with model: @room, local: true do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  <%= f.submit "ルームの作成"%>

<%= link_to "家族一覧", "/rooms/index" %>
<% end %>